body, html
{
    height: 100%;
}

body
{
    background-color: #5A5654;
    background-image: url("../Images/UI/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0px 0px 0px 0px;
}

#header, #footer
{
    padding: 8px 0px 8px 0px;
    display: block;
}

#header
{
    -webkit-box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.5);
    background-image: -webkit-linear-gradient(top, #3B3938 0%, #575A5C 100%);
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #3C3C3C;
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: #3C3C3C;
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: #3C3C3C;
    border-top-style: none;
    border-top-width: 0px;
}

#header a
{
    text-decoration: none;
    color: #fff;
   
}

#header a span
{
     width: 500px;
}

#main
{
    overflow: auto;
    background-color: #fff;
    margin: 0px 10px 0px 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}



#mc
{
    overflow: inherit;
    background-color: #fff;
    position: absolute;
    background: rgba(0, 0, 10, 0.3);
    margin: 32px 25px 0px 25px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
